/* * Lazy CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
    background-color: #121212;
}


/* * Navigation */
#navbar {
    position: relative;
    height: 8%;
    background-color: #212121;
}

#logo-link {
    height: 50%;
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
}

#logo {
    height: 100%;
}

#search {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60%;
    overflow: hidden;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    /* -webkit-appearance: none; */
}

#search input[type="search"] {
    display: inline-block;
    height: 100%;
    width: 350px;
    padding: 0 10px;
    color: #b3b3b3;
    border: 0;
    /* outline: none; */
    background-color: #121212;
}

#search input[type="search"]:focus {
    outline-color: #1db954;
}

#search .search_icon {
    display: inline-block;
    height: 100%;
    width: 40px;
    float: right;
    background-color: #535353;
}

#login {
    height: 50%;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);

    color: #1db954;
    font-size: 20px;
    line-height: 30px;
    font-family: sans-serif;
    font-weight: 700;
    text-decoration: none;
}

/* * Panels */
#panels-container {
    position: relative;
    height: 77%;
    overflow: hidden;
    /* overflow-x: scroll; */
    cursor: pointer;
    z-index: 0;
    perspective: 400px;
}


/* ! This whole thing may need a re-work for scrolling */
.panel {
    display: block;
    border-radius: 25px;
    height: 55%;
    width: 160px;
    background-position: center;
    background-size: cover;
}

.panel::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    filter: blur(20px);
    opacity: 0.3;
    z-index: -1;
}

.panel-curr {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 80%;
    width: 240px;
    background-image: url("../assets/images/test_cover2.jpg");
}

.panel-curr::before {
    background-image: url("../assets/images/test_cover2.jpg");
}

.panel-prev {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(0, -50%) rotateY(10deg);
    background-image: url("../assets/images/test_cover.jpg");
}

.panel-prev::before {
    display: none;
    background-image: url("../assets/images/test_cover.jpg");
}

.panel-next {
    position: absolute;
    top: 50%;
    right: 15%;
    transform: translate(0, -50%) rotateY(-10deg);
    background-image: url("../assets/images/test_cover3.jpg");
}

.panel-next::before {
    display: none;
    background-image: url("../assets/images/test_cover3.jpg");
}

/* * Details & Controls Container */
#details-and-controls {
    height: 15%;
    background-color: #212121;
}