/* Portrait Galaxy */
@media only screen and (max-width: 480px) {
    /* * Navigation */
    #navbar {
        height: 10%;
    }

    #logo-link {
        height: 50%;
        position: absolute;
        top: 50%;
        left: 30px;
        transform: translateY(-50%);
    }

    #logo {
        height: 100%;
    }

    #search {
        position: absolute;
        display: block;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 70%;
        overflow: hidden;
    }

    #search input[type="search"] {
        height: 70%;
        width: 175px;
        font-size: 12px;
    }

    #search input[type="search"]::placeholder {
        color: #212121;
        text-shadow: 1px 1px 3px #000;
    }

    #search input[type="search"]:focus {
        border: 1px solid #1db954;
        color: #b3b3b3;
        outline-width:  thin;
    }

    #search input[type="search"]:focus::placeholder {
        color: #b3b3b3;
    }

    #search > .search_icon {
        display: inline-block;
        position: relative;
        height: 70%;
        width: 50px;
        float: right;
        background-color: #535353;
        cursor: pointer;
    }

    #search > .search_icon::before {
        position: absolute;
        top: 50%;
        left: 40%;
        color: #b3b3b3;
        font-weight: 100;
        transform: translate(-50%, -50%) scale(1.5);
    }

    #advanced_search {
        height: 30%;
        color: #535353;
        text-shadow: 1px 1px 3px #121212;
        transition: all 0.1s ease-in-out;
        cursor: pointer;
    }

    #login {
        position: absolute;
        top: 50%;
        right: 30px;
        transform: translateY(-50%);
        color: #1db954;
        font-size: 30px;
        font-family: "lineto-circular";
        font-weight: 700;
        text-decoration: none;
    }

    /* * Panels */
    #panels-container {
        height: 80%;
    }

    .panel {
        height: 90%;
        width: 70%;
    }

    .panel-left {
        left: 25%;
    }

    .panel-right {
        left: 75%;
    }

    .panel > .panel_details {
        padding: 0 10px;
        bottom: 5%;
    }

    #panel_details-title {
        text-shadow: -1px -1px 3px #000;
        font-size: 20px;
        font-weight: 700;
    }

    #panel_details-artist {
        text-shadow: -1px -1px 3px #000;
        font-size: 18px;
        font-weight: 100;
        color: #b3b3b3;
    }

    #panel-shadow {
        height: 90%;
        width: 70%;
    }

    #heart {
        top: 25px;
        right: 30px;
        height: 60px;
        width: 60px;
    }

    #heart::before {
        font-weight: 100;
        font-size: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /* * Details & Controls Container */
    .controls {
        height: 10%;
        padding: 0 10%;
    }

    .controls_actions {
        position: relative;
        height: 75%;
    }

    .icon {
        top: 50%;
        left: 50%;
        height: 45px;
        width: 45px;
        font-size: 20px;
    }

    .controls_actions-cancel {
        left: 20%;
    }

    .controls_actions-add {
        left: 80%;
    }

    .controls_slider {
        margin-top: 5px;
        overflow: scroll;
    }

    .controls_slider-slide {
        height: 80%;
        width: 50%;
    }
}